/* moodResult.css */
/* moodResult.css */
.mood-result-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px;
  background: linear-gradient(
    to bottom,
    #2c2c3a,
    #1e1e2c
  ); /* Matching color gradient */
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); /* Similar shadow effect */
  color: #eaeaea; /* Light text color */
  font-family: Arial, sans-serif; /* Match font style */
  width: 100%; /* Full width */
  max-width: 600px; /* Set a maximum width */
  margin: 20px auto;
  text-align: left; /* Align text to the left */
}

.mood-result-card h3,
.mood-result-card h4 {
  color: #eaeaea; /* Light text color for headers */
  margin-bottom: 15px; /* Spacing for headers */
}

.emotions {
  margin-right: 50px; /* Space between emotions list and speedometer */
  gap : 2px;
}

.emotions p {
  margin: 5px 0; /* Spacing between emotion texts */
}

.speedometer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.speedometer h4 {
  margin-bottom: 10px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .mood-result-card {
    flex-direction: column; /* Stack items vertically on smaller screens */
    align-items: center;
  }

  .emotions {
    margin-bottom: 20px; /* Add space for better layout on smaller screens */
  }
}
